AI-powered lead qualification and routing system.json
{
  "name": "AI-powered lead qualification and routing system",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1664,
        720
      ],
      "id": "8bcb408b-f8c0-4166-b007-170b1793c686",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AMF6rbW6tle6MfI3",
          "name": "Google Gemini(PaLM) Api  wizo"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"short_summary\": { \"type\": \"string\" },\n    \"lead_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"buyer\", \"seller\", \"investor\", \"renter/Lease\", \"Advisory Only\"]\n    },\n    \"qualification_tier\": {\n      \"type\": \"string\",\n      \"enum\": [\"High\", \"Nurture\", \"Cold\"]\n    },\n    \"seriousness_score\": {\n      \"type\": \"number\",\n      \"minimum\": 1,\n      \"maximum\": 10\n    },\n    \"estimated_deal_value\": { \"type\": \"string\" },\n    \"recommended_next_action\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"short_summary\",\n    \"lead_type\",\n    \"qualification_tier\",\n    \"seriousness_score\",\n    \"estimated_deal_value\",\n    \"recommended_next_action\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -992,
        720
      ],
      "id": "58000b55-434c-4ebd-a78e-b88cff554b65",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.referenceId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1440,
        720
      ],
      "id": "ad3c3b0a-9c61-4a88-993c-ba8a86fa2219",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "VMpfAKpTxk4lYUJw",
          "name": "Postgres wizo"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"reference_id\": \"{{ $json.body.referenceId }}\",\n  \"name\": \"{{ $json.body.fullName }}\",\n  \"email\": \"{{ $json.body.email }}\",\n  \"phone\": \"{{ $json.body.phone }}\",\n  \"country\": \"{{ $json.body.country }}\",\n  \"lead_type\": \"{{ $json.body.leadType }}\",\n  \"budget\": \"{{ $json.body.budget }}\",\n  \"location\": \"{{ $json.body.locationInterest }}\",\n  \"message\": \"{{ $json.body.message }}\",\n  \"submitted_at\": \"{{ $json.body.submittedAt }}\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are LeadQualifyAI, a precise, high-end AI analyst for a luxury real estate platform specializing exclusively in ultra-premium properties (private estates, waterfront villas, penthouses, trophy developments, and investment opportunities).\n\nYour sole job is to instantly qualify every inbound lead from website form submissions.\n\n═══════════════════════════════════════\nBUDGET QUALIFICATION TIERS (STRICT RULES)\n═══════════════════════════════════════\nThese budget thresholds are ABSOLUTE and override all other scoring:\n\n- HIGH TIER     → Budget is $500,000 and above\n- NURTURE TIER  → Budget is between $150,000 and $499,999\n- COLD TIER     → Budget is below $150,000\n\nIf the lead's stated budget falls below $150,000, qualification_tier MUST be \"Cold\" regardless of any other factor.\nIf the budget is missing or vague (e.g. \"flexible\", \"negotiable\", \"not sure\"), default to \"Nurture\" and flag it in short_summary.\n\n═══════════════════════════════════════\nMANDATORY THINK TOOL RULE\n═══════════════════════════════════════\nYou MUST call and execute the Think Tool (brain) before producing any output.\nNever skip it. Never simulate it. Actually invoke it.\nThe Think Tool is how you reason — without it, your output is invalid.\n\nTHINK TOOL STEPS (execute all 7 in order):\n\nStep 1: Extract every key field from the form — name, email, phone, budget, budgetCurrency, budgetAmount, locationInterest, leadType, message, submittedAt.\n\nStep 2: Convert budgetAmount to USD equivalent if submitted in NGN (use approximate rate: $1 = NGN 5,600). Note the converted value explicitly.\n\nStep 3: Apply the budget tier rule strictly:\n  - $500,000+ → High\n  - $100,000–$499,999 → Nurture\n  - Below $100,000 → Cold\n  Record which tier the budget falls into.\n\nStep 4: Analyze lead quality signals — specificity of request, professional tone, urgency, location clarity, lead type alignment, and any red flags (vague, unrealistic, or low-effort inquiries).\n\nStep 5: Assign seriousness_score (1–10):\n  - High tier leads: score range 8–10\n  - Nurture tier leads: score range 5–7\n  - Cold tier leads: score range 1–4\n  Justify in one sentence.\n\nStep 6: Estimate deal value range ONLY if budget and intent are both clear. Otherwise write \"Insufficient data\".\n\nStep 7: Decide the single best next action for the sales team based on tier and lead context.\n\n═══════════════════════════════════════\nOUTPUT RULES\n═══════════════════════════════════════\nAfter the Think Tool closes, output ONLY a valid JSON object.\nNo markdown. No extra text. No explanations. No closing tags.\n\nOUTPUT JSON SCHEMA (strictly follow):\n{\n  \"short_summary\": \"string — one or two sentence summary of the lead\",\n  \"lead_type\": \"buyer | seller | investor | renter/ Lease | Advisory Only\",\n  \"qualification_tier\": \"High | Nurture | Cold\",\n  \"seriousness_score\": number between 1 and 10,\n  \"estimated_deal_value\": \"string — e.g. '$500K–$1M' or 'Insufficient data'\",\n  \"recommended_next_action\": \"string — single best action for the sales team\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1376,
        240
      ],
      "id": "1c2a13ed-32a6-4dc2-abed-82051381254c",
      "name": "Qualify Luxury Lead"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM",
          "mode": "list",
          "cachedResultName": "luxury real estate platform ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estimate deal value": "={{ $json.output.estimated_deal_value }}",
            "Recommend next action": "={{ $json.output.recommended_next_action }}",
            "Lead type": "={{ $json.output.lead_type }}",
            "Seriousness score": "={{ $json.output.seriousness_score }}",
            "Short summary": "={{ $json.output.short_summary }}",
            "Qualification tier": "={{ $json.output.qualification_tier }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Estimate deal value",
              "displayName": "Estimate deal value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommend next action",
              "displayName": "Recommend next action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead type",
              "displayName": "Lead type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualification tier",
              "displayName": "Qualification tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Seriousness score",
              "displayName": "Seriousness score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Short summary",
              "displayName": "Short summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        240
      ],
      "id": "499d3e8c-5bfc-4314-a84c-c267cb2e036d",
      "name": "Log Qualified Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U34ZH5PAKnCBIMGl",
          "name": "Google Sheets wizo"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        1024
      ],
      "id": "69c46116-5e57-4576-a6ab-2aca0c47e6f4",
      "name": "Allow Sheet Sync (20s)",
      "webhookId": "223316bc-c42d-47a8-a528-675142051dcc"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "wizo",
          "mode": "name"
        },
        "text": "=🏆 High-Priority Lead Alert\n\nNew Investor Lead – Seriousness Score: 10/10\n\nLead Name:{{ $('Capture Lead Form').item.json.body.name }}\nLocation: {{ $('Capture Lead Form').item.json.body.country }}\nLead Type:{{ $('Capture Lead Form').item.json.body.lead_type }} \n\nShort Summary\n──────────────────────────────\n{{ $('Log Qualified Lead').item.json['Short summary'] }}\n\nAI Qualification Result\n──────────────────────────────\nEstimated Deal Value: {{ $('Log Qualified Lead').item.json['Estimate deal value'] }}\nSeriousness Score:{{ $json['Seriousness score'] }}/10\nRecommended Next Action:{{ $('Log Qualified Lead').item.json['Recommend next action'] }}\nSubmitted: {{ $now.toFormat(\"dd MMM yyyy HH:mm\") }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        304,
        1024
      ],
      "id": "89c69c1f-002b-4abd-bb67-6adee0429da2",
      "name": "High-Priority Lead Alert",
      "webhookId": "a911c786-56ef-4458-82dd-dd7f351654b2",
      "credentials": {
        "slackApi": {
          "id": "r3ZEOFko4Aqmij3O",
          "name": "wizo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalize & Pass Lead Data').item.json.body.email }}",
        "subject": "=Thank you {{ $('Normalize & Pass Lead Data').item.json.body.name }}, your luxury inquiry has been received",
        "message": "=Hi {{ $('Normalize & Pass Lead Data').item.json.body.name }},\n\nThank you for reaching out to Aurum Estates.\n\nWe have carefully reviewed your inquiry and are pleased to inform you that your lead has been qualified as \"high-intent\". Our team will personally review your requirements and contact you shortly with carefully selected premium properties that match your criteria.\n\nWe look forward to assisting you in finding your ideal luxury property.\n\nBest regards,  \nAurum Estates Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        32
      ],
      "id": "4abee0ed-6b82-4403-87d6-c3b22ec3b6ff",
      "name": "Auto-Reply – High-Intent Lead",
      "webhookId": "1e2b7b2e-c969-413b-95eb-eb228aa140c1",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZwB9mwK94MFGVuJZ",
          "name": "gmail wizo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1616,
        1136
      ],
      "id": "4a64b448-d45a-497e-bd63-098bd3b61c94",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "wizo",
          "mode": "name"
        },
        "text": "=🚨 Aurum Estates Workflow Error Alert\n\nWorkflow: {{ $json.workflow.name }}\nExecution ID: {{ $json.execution.id }}\nFailed Node: {{ $json.node.name || $json.execution.lastNodeExecuted }}\nTime: {{ $now.toFormat(\"dd MMM yyyy HH:mm:ss\") }}\n\nError Message:\n{{ $json.error.message }}\n\n{{ $json.error.description ? \"*Description:*\\n\" + $json.error.description : \"\" }}\n\nLead Details (if available):\nName: {{ $json.data?.body?.name || \"N/A\" }}\nEmail: {{ $json.data?.body?.email || \"N/A\" }}\nBudget: {{ $json.data?.body?.budget || \"N/A\" }}\n\n🔗 [View Execution]/execution/{{ $json.execution.id }})",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -1360,
        1136
      ],
      "id": "8c176f43-0798-4c7f-9e51-d939269f0e04",
      "name": "Slack: Error Alert",
      "webhookId": "c725200a-1ca2-4c99-b284-6eed27c18efd",
      "credentials": {
        "slackApi": {
          "id": "r3ZEOFko4Aqmij3O",
          "name": "wizo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "wisddomokafor47@gmail.com",
        "subject": "=🚨 Aurum Estates Lead Workflow Error - {{ $json.workflow.name }}",
        "emailType": "text",
        "message": "🚨 Workflow Execution Failed\n\nWorkflow: {{ $json.workflow.name }}\nExecution ID:{{ $json.execution.id }}\nFailed Node:{{ $json.node.name || $json.execution.lastNodeExecuted }}\nTime: {{ $now.toFormat(\"dd MMM yyyy HH:mm:ss\") }}\n\nError Message:\n{{ $json.error.message }}\n\n{{ $json.error.description ? \"Description:</strong>\" + $json.error.description +\"\" }}\n\nLead Details (if available):\nName: {{ $json.data?.body?.name || \"N/A\" }}\nEmail: {{ $json.data?.body?.email || \"N/A\" }}\nBudget: {{ $json.data?.body?.budget || \"N/A\" }}\n\n href=\"{{ $workflow.baseUrl }}/execution/{{ $json.execution.id }}\">🔗 View Full Execution in n8n\n\nBest regards,\nAurum Estates Automation System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1040,
        1136
      ],
      "id": "49bc5547-1b36-4caa-8236-96946dd84743",
      "name": "Gmail: Send Error Alert",
      "webhookId": "972c851a-1632-47e1-aff7-5b55eb346a11",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZwB9mwK94MFGVuJZ",
          "name": "gmail wizo"
        }
      }
    },
    {
      "parameters": {
        "content": "# AI Qualification Engine\nGemini 2.5 Flash qualifies lead.\nScores as High / Nurture / Cold.\nStructured Output Parser formats result.",
        "height": 800,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        48
      ],
      "typeVersion": 1,
      "id": "19134813-c3d0-4e71-ab28-bd34382d160a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Error Handling\nCatches all workflow failures globally.\nSends Slack alert + logs error.\nCheck credentials if this fires repeatedly.",
        "height": 288,
        "width": 864,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        992
      ],
      "typeVersion": 1,
      "id": "4b04743f-44fc-48b7-9616-503ecebfe866",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Team Alerts\nAlloc Sheet synced on every lead.\nHigh-priority leads trigger Slack alert.",
        "height": 288,
        "width": 928,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        880
      ],
      "typeVersion": 1,
      "id": "2968eb98-28b0-4842-a385-8d5572017ce1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Lead Logging\n\nQualified leads logged to Sheet.\n\n",
        "height": 272,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        112
      ],
      "typeVersion": 1,
      "id": "84d71397-920d-4fcd-9925-2789ce4289e5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Invalid / Unqualified logged\nInvalid / Unqualified logged separately.\n\n",
        "height": 304,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        560
      ],
      "typeVersion": 1,
      "id": "5f02552f-e547-4ca1-9777-cc330034d615",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b4ae3907-4265-4984-88a8-336df2484f6f",
                    "leftValue": "={{ $json['Qualification tier'] }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bac8ab85-092d-40f7-b906-d63987126fb5",
                    "leftValue": "={{ $json['Qualification tier'] }}",
                    "rightValue": "Nurture",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nurture"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "789c6541-a8d6-450b-84cf-1f4498ce9ff9",
                    "leftValue": "={{ $json['Qualification tier'] }}",
                    "rightValue": "Cold",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cold"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -144,
        224
      ],
      "id": "1bf802b0-78ca-4d86-9c30-156dc323df7e",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalize & Pass Lead Data').item.json.body.email }}",
        "subject": "=Thank you {{ $('Normalize & Pass Lead Data').item.json.body.fullName }}, your luxury inquiry has been received",
        "message": "=Dear {{ $('Normalize & Pass Lead Data').item.json.body.fullName }},\nThank you for contacting Aurum Estates.\n\nAt this time, our advisory team focuses exclusively on \n\nultra-high-net-worth acquisitions. We've added you to our \nwaitlist and will reach out should a suitable opportunity arise.\n\n\nWe look forward to assisting you in finding your ideal luxury property.\n\nBest regards,  \nAurum Estates Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        32,
        448
      ],
      "id": "50b78b4b-a658-4a73-859d-f8935666b70a",
      "name": "Auto-Reply – Polite Decline",
      "webhookId": "1e2b7b2e-c969-413b-95eb-eb228aa140c1",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZwB9mwK94MFGVuJZ",
          "name": "gmail wizo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Normalize & Pass Lead Data').item.json.body.email }}",
        "subject": "=Thank you {{ $('Normalize & Pass Lead Data').item.json.body.name }}, your luxury inquiry has been received",
        "message": "=Dear, {{ $('Normalize & Pass Lead Data').item.json.body.name }},\n\nThank you for reaching out to Aurum Estates.\n\nThank you for your interest in our exclusive portfolio.\n\nWe're currently curating a selection of properties that \nmay align with your requirements. A member of our advisory \nteam will be in touch within 48 hours.\n\nWe look forward to assisting you in finding your ideal luxury property.\n\nBest regards,  \nAurum Estates Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        240
      ],
      "id": "ad51b698-e611-4357-b931-eb55f9c0beba",
      "name": "Auto-Reply – Nurture",
      "webhookId": "1e2b7b2e-c969-413b-95eb-eb228aa140c1",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZwB9mwK94MFGVuJZ",
          "name": "gmail wizo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM",
          "mode": "list",
          "cachedResultName": "luxury real estate platform ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1972769562,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit#gid=1972769562"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Normalize & Pass Lead Data').item.json.body.name }}",
            "Budget": "={{ $('Normalize & Pass Lead Data').item.json.body.budget }}",
            "Expected score": "={{ $('Log Qualified Lead').item.json['Seriousness score'] }}",
            "Intent signal": "={{ $('Log Qualified Lead').item.json['Recommend next action'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Intent signal",
              "displayName": "Intent signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Expected score",
              "displayName": "Expected score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        32
      ],
      "id": "23c96884-52aa-4db8-a30f-f5adef0e90c2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U34ZH5PAKnCBIMGl",
          "name": "Google Sheets wizo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM",
          "mode": "list",
          "cachedResultName": "luxury real estate platform ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 285924232,
          "mode": "list",
          "cachedResultName": "Decline offers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit#gid=285924232"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Normalize & Pass Lead Data').item.json.body.fullName }}",
            "Budget": "={{ $('Normalize & Pass Lead Data').item.json.body.budget }}",
            "Expected score": "={{ $('Log Qualified Lead').item.json['Seriousness score'] }}",
            "Intent signal": "={{ $('Log Qualified Lead').item.json['Recommend next action'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent signal",
              "displayName": "Intent signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected score",
              "displayName": "Expected score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        448
      ],
      "id": "eab319dc-d51f-465c-97a4-8687de8efe17",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U34ZH5PAKnCBIMGl",
          "name": "Google Sheets wizo"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM",
          "mode": "list",
          "cachedResultName": "luxury real estate platform ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1972769562,
          "mode": "list",
          "cachedResultName": "Nurture offers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit#gid=1972769562"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Intent signal",
              "displayName": "Intent signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected score",
              "displayName": "Expected score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        240
      ],
      "id": "1dd5901c-0584-4081-8040-72f09353e295",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U34ZH5PAKnCBIMGl",
          "name": "Google Sheets wizo"
        }
      }
    },
    {
      "parameters": {
        "content": "# Entry Point\nCaptures lead from form.\nValidates & normalises fields.\nRoutes invalid leads to logging.",
        "height": 336,
        "width": 928,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        112
      ],
      "typeVersion": 1,
      "id": "548b54f0-a9c8-44b7-bd24-e1e5430d7ad4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Lead Routing & Response\nHigh → Slack alert + Auto-reply + Sheet1\nNurture → Follow-up email + Sheet1\nCold → Polite decline + Sheet2",
        "height": 864,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -64
      ],
      "typeVersion": 1,
      "id": "cf0edad3-9ce5-410a-b228-59ce0c432ed6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e9b01f6-a076-4e26-9732-d15e688fba99",
              "name": "Estimate deal value",
              "value": "={{ $json['Estimate deal value'] }}",
              "type": "string"
            },
            {
              "id": "f39511a3-aade-4c0e-a67c-1baddfbad33a",
              "name": "Recommend next action",
              "value": "={{ $json['Recommend next action'] }}",
              "type": "string"
            },
            {
              "id": "c76929a7-6444-4757-ba51-45a05447c71d",
              "name": "Lead type",
              "value": "={{ $json['Lead type'] }}",
              "type": "string"
            },
            {
              "id": "233e8a06-2cf0-465e-b9ca-b4b11f30b7fe",
              "name": "Seriousness score",
              "value": "={{ $json['Seriousness score'] }}",
              "type": "number"
            },
            {
              "id": "a8b92efb-bc88-43fe-9361-1d15ecfc72ea",
              "name": "Short summary",
              "value": "={{ $json['Short summary'] }}",
              "type": "string"
            },
            {
              "id": "0e521dff-12f9-4a74-8cab-700c367ef1d8",
              "name": "Qualification tier",
              "value": "={{ $json['Qualification tier'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        240
      ],
      "id": "fe1cc04e-199d-4206-a0d7-5967b7080527",
      "name": "Extract AI Output"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -1248,
        736
      ],
      "id": "57940e2f-1d07-482a-9c45-743214acafb2",
      "name": "Internal Think Tool"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d04a7440-15e3-4d39-ac2f-88ced2f8f254",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2688,
        256
      ],
      "id": "0c4d94e7-ac81-45a3-b496-d1ef8746cc94",
      "name": "Capture Lead Form",
      "webhookId": "d04a7440-15e3-4d39-ac2f-88ced2f8f254"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82dda882-7967-4673-9c7a-1ace2d06ad07",
              "name": "name",
              "value": "={{ $json.body.fullName }}",
              "type": "string"
            },
            {
              "id": "32e34e21-5289-498f-84f2-f2dcce8e5f94",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "844fc9c7-9887-46b5-be74-89e82967ad67",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "a53070bb-7f89-4f8d-a23f-da5a1a0f5594",
              "name": "country",
              "value": "={{ $json.body.country }}",
              "type": "string"
            },
            {
              "id": "4d61fd7b-48ff-468c-a213-032a215c490a",
              "name": "budget",
              "value": "={{ $json.body.budget }}",
              "type": "string"
            },
            {
              "id": "d61697f6-08d5-44e8-8e7e-aedf75ee74ef",
              "name": "interest_type",
              "value": "={{ $json.body.lead_type }}",
              "type": "string"
            },
            {
              "id": "b9d38ded-9221-48ba-83ca-2d6d9bc55e77",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2288,
        256
      ],
      "id": "599fd795-b985-4710-9927-0eb98bb2cc2e",
      "name": "Normalize & Pass Lead Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb728b3a-4cfb-4ba3-81af-e94082fa2e82",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "95af7d4b-ba76-4dfe-afeb-391afd8aac4c",
              "leftValue": "={{ $json.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6cb2dc0f-5068-46be-98c6-82f73d6c171c",
              "leftValue": "={{ $json.budget }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "eaa41bad-af33-4c4d-8200-9316adf8c912",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2016,
        256
      ],
      "id": "10e886c1-c459-4483-9792-81a24ad75acd",
      "name": "Required Fields Present"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\n\nconst name = (input.name || '').trim();\nconst email = (input.email || '').trim();\nconst budget = (input.budget || '').trim();\nconst phone = (input.phone || '').trim();\n\nlet reason = '';\n\nif (!name) {\n  reason = 'Missing name';\n} else if (!email) {\n  reason = 'Missing email';\n} else if (!email.includes('@')) {\n  reason = 'Invalid email format (missing @)';\n} else if (!phone) {\n  reason = 'Missing phone';\n} else if (!budget) {\n  reason = 'Missing budget';\n} else {\n  reason = 'Unknown validation failure';\n}\n\nreturn [{\n  json: {\n    status: 'rejected',\n    reason: reason,\n    lead_name: name || 'Unknown',\n    email: email || 'Not provided',\n    phone: phone || 'Not provided',\n    budget: budget || 'Not provided',\n    received_at: new Date().toISOString(),\n    raw_input: input.body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2672,
        752
      ],
      "id": "14495a0d-b95b-4499-9c7b-cb9f24b514ed",
      "name": "Log Invalid Lead"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM",
          "mode": "list",
          "cachedResultName": "luxury real estate platform ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1731130450,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2nGwrZPB149-mJW2fsp1vC2bJ01eNc6M4UWemYVxyM/edit#gid=1731130450"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "reason": "={{ $json.reason }}",
            "lead_name": "={{ $json.lead_name }}",
            "email": "={{ $json.email }}",
            "budget": "={{ $json.budget }}",
            "received_at": "={{ $json.received_at }}",
            "raw_input": "={{ $json.raw_input }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_name",
              "displayName": "lead_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_input",
              "displayName": "raw_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2016,
        752
      ],
      "id": "70a48cbd-55fc-480e-aa22-d0efc7d1557d",
      "name": "Log Unqualified Lead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U34ZH5PAKnCBIMGl",
          "name": "Google Sheets wizo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1744,
        240
      ],
      "id": "9f8a33a7-c487-49d5-9f9a-b8c73009a235",
      "name": "Human buffer",
      "webhookId": "f8e94af0-d544-4ec6-ba2c-1b92b4c3e674"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Qualify Luxury Lead",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Qualify Luxury Lead",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Qualify Luxury Lead",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qualify Luxury Lead": {
      "main": [
        [
          {
            "node": "Log Qualified Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Qualified Lead": {
      "main": [
        [
          {
            "node": "Allow Sheet Sync (20s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allow Sheet Sync (20s)": {
      "main": [
        [
          {
            "node": "High-Priority Lead Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High-Priority Lead Alert": {
      "main": [
        []
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack: Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Error Alert": {
      "main": [
        [
          {
            "node": "Gmail: Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Auto-Reply – High-Intent Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-Reply – Nurture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-Reply – Polite Decline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Reply – High-Intent Lead": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Reply – Nurture": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Reply – Polite Decline": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Output": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internal Think Tool": {
      "ai_tool": [
        [
          {
            "node": "Qualify Luxury Lead",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Capture Lead Form": {
      "main": [
        [
          {
            "node": "Normalize & Pass Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Pass Lead Data": {
      "main": [
        [
          {
            "node": "Required Fields Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields Present": {
      "main": [
        [
          {
            "node": "Human buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Invalid Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Invalid Lead": {
      "main": [
        [
          {
            "node": "Log Unqualified Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human buffer": {
      "main": [
        [
          {
            "node": "Qualify Luxury Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "86093a62-540b-414c-8a38-94c4b67e01d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b30b9f20ea58c340a69a11d8e9c4c1653d31d6f96c3ed45c60dce95ebcfcd276"
  },
  "id": "5d6D6-0-qQ-W7l-6E-b_D",
  "tags": []
}